.tabsdemoDynamicHeight md-content {
    background-color: transparent !important; }
.tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
    background: white; }
.tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }


#user-pic-menu {
    width: 50px;
    height: 50px;
    float: right;
    padding: 0px;
}

#user-pic-menu button {
    min-width: 0px;
    margin: 0px;
}

#user-pic {
    width: 50px;
    float: right;
}
#top-nav-bar {
    width: 96%;
    display: inline-block;
}

.blog-content-wrapper {
    margin-left: 20%;
    margin-right: 20%;
}
.blog-title {
    text-align: center;
    color: #3BA1C8;
}
.blog-date-auth {
    display: inline-flex;
    width: 100%;
    position: relative;
}
.blog-date {
    padding-top: 14px;
    font-family: 'Roboto', serif;
    color: #FF9017;
    font-weight:bold;
}
.author-btn {
    position: absolute;
    right:0px;
    color: #62B6D6;
}
.author-btn i {
    color: #FF9017;
}
.blog-content {
    text-align: center;
}

.blog-ctn {
    font-size:20px;
    line-height:1.5;
}