.tabsdemoDynamicHeight md-content {
    background-color: transparent !important; }
.tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
    background: white; }
.tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }

#profile-blogs {
    padding-top: 35px;
}

#login-btn{
    margin-top: -30px;
    background: #3BA1C8;
    color: #FFFFFF;
}


#profile-info {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-size:20px;
    line-height:1.5;
}
#profile-name{
    color: #1891BF;
    font-size: 25px;
    font-weight: bold;
}
#profile-info div {
    display: inline-flex;
    font-size: 17px;
    color: #FFA543;

}

#profile-info div p {
    color: #FFA543;
}

#search-icon {
    color: #FF9017;
}

#user-pic-menu {
    width: 80px;
    height: 80px;
    float: right;
    padding: 0px;
}

#user-pic-menu button {
    min-width: 0px;
    margin: 0px;
    position: absolute;
    right:-6px;
}

.application-top-icon {
    height: 80px;
    width: 80px;
    color: #FF9017;
    text-align: center;
    line-height: 75px;
}

#top-nav-bar {
    width: 96%;
    display: inline-block;
}

#application-bar {
    position: relative;
    width: 100%;
    display: inline-flex;
}
#application-title {
    color: #1891BF;
    text-align: center;
    width: 100%;
}
#application-line {
    margin-top: 0px;
    border-color: #FFA543;
}
#application-home-icon {
    height: 80px;
    width: 80px;
    color: #FF9017;
    text-align: center;
    line-height: inherit;
}

.blog-content-wrapper {
    margin-left: 20%;
    margin-right: 20%;
}
.blog-title {
    text-align: center;
    color: #3BA1C8;
}
.blog-date-auth {
    display: inline-flex;
    width: 100%;
    position: relative;
}
.blog-date {
    padding-top: 14px;
    font-family: 'Roboto', serif;
    color: #FF9017;
    font-weight:bold;
}
.author-btn {
    position: absolute;
    right:0px;
    color: #62B6D6;
}
.author-btn i {
    color: #FF9017;
}
.blog-content {
    text-align: center;
}

.blog-ctn {
    font-size:20px;
    line-height:1.5;
}

.warning-msg {
    color: #FF0000;
}
.success-msg {
    color: #2AD42A;
}
.app-form-container {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
.submit-btn {
    color: #FFFFFF;
    background: #FF9017;
}
.blog-panel-name {
    color: #3BA1C8;
}
.blog-panel-author {
    color: #62B6D6;
}
.blog-panel-author i {
    color: #FF9017;
}
.md-panel-parent div div {
    display: inline-flex;
}
.md-panel-parent div div span {
    padding-top: 18px;
    padding-left: 10px;
}

.md-panel-parent div div span p {
    font-family: 'Roboto', serif;
    color: #FF9017;
    font-weight:bold;
}

.md-panel-parent div div md-card-actions {
    margin-left: auto;
}

.blog-panel-summary {
    font-family: 'Roboto', serif;
    font-size:17px;
    line-height:1.5;

}
.blog-summary {
    font-style: italic;
    padding-bottom: 30px;
}
