<div class="blog-content-wrapper">
    <h1 class="blog-title">{{blog.name}}</h1>
    <div class="blog-date-auth">
        <p class="blog-date">{{blog.date}}</p>
        <md-button class="author-btn" ng-click="navigateToAuthor()"><i class="fa fa-user" aria-hidden="true"></i> {{blog.authorName}}</md-button>
    </div>
    <div>
        <p class="blog-summary blog-ctn">{{blog.summary}}</p>
    </div>
    <div>
        <p class="blog-content blog-ctn">{{blog.content}}</p>
    </div>
</div>