<!DOCTYPE html>
<html ng-app="blogonApp">
<head>
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/lib/angular-material/angular-material.css" />
    <!-- endbower -->

    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular-route/angular-route.js"></script>
    <script src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/lib/angular-animate/angular-animate.js"></script>
    <script src="/lib/angular-aria/angular-aria.js"></script>
    <script src="/lib/angular-messages/angular-messages.js"></script>
    <script src="/lib/angular-material/angular-material.js"></script>
    <script src="/lib/angular-cookies/angular-cookies.js"></script>
    <!-- endbower -->

    <!-- inject:css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endinject -->

    <!-- inject:js -->
    <script src="/js/app.js"></script>
    <script src="/js/constants.js"></script>
    <script src="/js/directives/blogPanel.js"></script>
    <script src="/js/services/apiFactory.js"></script>
    <script src="/js/services/authFactory.js"></script>
    <script src="/js/services/commonUtilityFactory.js"></script>
    <script src="/js/controllers/blogPageController.js"></script>
    <script src="/js/controllers/homeController.js"></script>
    <script src="/js/controllers/loginController.js"></script>
    <script src="/js/controllers/logoutController.js"></script>
    <script src="/js/controllers/mainController.js"></script>
    <script src="/js/controllers/profileController.js"></script>
    <script src="/js/controllers/searchController.js"></script>
    <script src="/js/controllers/signupController.js"></script>
    <script src="/js/controllers/submitBlogController.js"></script>
    <!-- endinject -->

</head>
<body >
<div id="application-bar" ng-cloak ng-controller="mainController">
    <i id="application-home-icon" class="fa fa-home fa-4x application-top-icon" aria-hidden="true" ng-click="navigateToHome()"></i>
    <h1 id="application-title">App Title</h1>
    <md-menu id="user-pic-menu">
        <md-button aria-label="Profile Menu" ng-click="openMenu($mdOpenMenu, $event)">
            <i id="application-user-icon" class="fa fa-user fa-4x application-top-icon"></i>
        </md-button>
        <md-menu-content width="4">
            <md-menu-item ng-repeat="item in menuItems" ng-show="item.showWhenLoggedIn === isLoggedIn">
                <md-button ng-click="menuClick(item.path)">
                    {{item.name}}
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>
<hr id="application-line">
<div ng-view></div>
</body>
</html>