<!DOCTYPE html>
<html>
<head>
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!-- endbower -->

    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->

    <!-- inject:css -->
    <!-- endinject -->

    <!-- inject:js -->
    <script src="/js/test.js"></script>
    <!-- endinject -->

</head>
<body>
<h1>Hello from index.ejs</h1>
</body>
</html>