<form>
    UserName : <input type="text" ng-model="userName"></br>
    Password : <input type="password" ng-model="password"></br>
    <input type="submit" value="Submit" ng-click="submit()">
</form>
<h3>New User : </h3>
<button ng-click="navigateToSignUp()">SignUp</button>