<div id="profile-info">
    <p id="profile-name">{{profile.name}}</p>
    <div>
        <p>{{profile.gender}}</p>&nbsp,&nbsp
        <p>{{profile.occupation}}</p>
    </div>
    <p>{{profile.about}}</p>
    <p id="profile-blogs">Blogs by {{profile.name}}</p>
</div>

<div class="blog-panel-main-container">
    <div class="blog-panel-container" ng-repeat="blogData in blogs">
        <blog-panel name="{{blogData.name}}" id="{{blogData.id}}" summary="{{blogData.summary}}" date="{{blogData.date}}" author-name="{{blogData.authorName}}" author-id="{{blogData.authorId}}"></blog-panel>
    </div>
</div>