<p>You have searched for ..</p>
<md-content class="md-no-momentum">
    <md-input-container class="md-icon-float md-block">
        <label>
            Search
        </label>
        <md-icon md-font-icon="fa-search" class="fa md-primary"></md-icon>
        <form ng-submit="submit()">
            <input ng-model="query" type="text">
        </form>
    </md-input-container>
</md-content>
<p>Result : </p>

<div ng-repeat="blogData in blogs">
    <blog-panel name="{{blogData.name}}" id="{{blogData.id}}" summary="{{blogData.summary}}" date="{{blogData.date}}" author-name="{{blogData.authorName}}" author-id="{{blogData.authorId}}"></blog-panel>
</div>
