<md-content class="md-no-momentum">
    <md-input-container class="md-icon-float md-block">
        <label>
            Search in title
        </label>
        <md-icon md-font-icon="fa-search" class="app-search-icon fa fa-lg md-primary"></md-icon>
        <form ng-submit="submit()">
            <input ng-model="query" type="text">
        </form>
    </md-input-container>
</md-content>
<div class="app-form-container" ng-show="blogs.length === 0">
    <p class="warning-msg">Sorry no match found</p>
</div>
<div class="blog-panel-main-container">
    <div class="blog-panel-container" ng-repeat="blogData in blogs">
        <blog-panel name="{{blogData.name}}" id="{{blogData.id}}" summary="{{blogData.summary}}" date="{{blogData.date}}" author-name="{{blogData.authorName}}" author-id="{{blogData.authorId}}"></blog-panel>
    </div>
</div>
