<div ng-show="userExist">
    Username already exist
</div>
<div ng-show="passwordMisMatch">
    Password and confirm password do not match
</div>
<form>
    UserName : <input type="text" ng-model="username"></br>
    Password : <input type="password" ng-model="password"></br>
    Confirm Password : <input type="password" ng-model="confirmPassword"></br>
    Name : <input type="text" ng-model="name"></br>
    Gender : <input type="text" ng-model="gender"></br>
    Occupation : <input type="text" ng-model="occupation"></br>
    About : <input type="text" ng-model="about"></br>
    <input type="submit" ng-click="submit()">
</form>