<div class="app-form-container">
    <div ng-show="userExist">
        <p class="warning-msg">Username already exist</p>
    </div>
    <div ng-show="passwordMisMatch">
        <p class="warning-msg">Password and confirm password do not match</p>
    </div>
    <form name="signupForm" ng-submit="submit()">
        <md-input-container class="md-block">
            <label>Name</label>
            <input type="text" ng-model="name" required>
        </md-input-container>
        <md-input-container class="md-block">
            <label>User Name</label>
            <input type="text" ng-model="username" required>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Password</label>
            <input type="password" ng-model="password">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Confirm password</label>
            <input type="password" ng-model="confirmPassword">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Gender</label>
            <md-select ng-model="gender">
                <md-option value="male">male</md-option>
                <md-option value="female">female</md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Occupation</label>
            <input type="text" ng-model="occupation">
        </md-input-container>
        <md-input-container class="md-block">
            <label>About</label>
            <input type="text" ng-model="about">
        </md-input-container>

        <md-button class="submit-btn" class="md-raised md-primary" type="submit">Submit</md-button>
    </form>
</div>