<div ng-show="!isLoggedIn">
    Please Login first
</div>

<div ng-show="isLoggedIn">
    <form>
        Title : <input type="text" ng-model="name"></br>
        Summary : <input type="text" ng-model="summary"></br>
        Content : <input type="text" ng-model="content"></br>
        Date : <input type="date" ng-model="date"></br>
        <button type="submit" ng-click="submit()">Submit</button>
    </form>
</div>
