<div class="app-form-container">
    <div ng-show="!isLoggedIn">
        <p class="warning-msg">Please Login first</p>
    </div>
    <div ng-show="errorBlog">
        <p class="warning-msg">Something is wrong, blog not submitted</p>
    </div>

    <div ng-show="isLoggedIn">
        <form name="submitForm" ng-submit="submit()">
            <md-input-container class="md-block">
                <label>Name or title of your blog</label>
                <input type="text" ng-model="name" required>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Summary</label>
                <input type="text" ng-model="summary" required>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Content</label>
                <textarea ng-model="content"  md-rows="5" required></textarea>
            </md-input-container>
            <md-button type="submit" class="submit-btn" class="md-raised md-primary">Submit</md-button>
        </form>
    </div>
</div>
